<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.schemer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Spinal_Stretch_Info"
            android:label="@string/title_activity_spinal__stretch__info"
            android:parentActivityName=".Mobility_info"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.Mobility_info" />
        </activity>
        <activity
            android:name=".Ankle_Info"
            android:label="@string/title_activity_ankle__info"
            android:parentActivityName=".Mobility_info"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.Mobility_info" />
        </activity>
        <activity
            android:name=".Static_Hold_Info"
            android:label="@string/title_activity_static__hold__info"
            android:parentActivityName=".Mobility_info"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.Mobility_info" />
        </activity>
        <activity
            android:name=".Yoga_Info"
            android:label="@string/title_activity_yoga"
            android:parentActivityName=".Mobility_info"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.Mobility_info" />
        </activity>
        <activity
            android:name=".Leg_Press_Info"
            android:label="@string/title_activity_leg__press__info"
            android:parentActivityName=".LowerBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.LowerBodyExercises" />
        </activity>
        <activity
            android:name=".Hack_Squat_Info"
            android:label="@string/title_activity_hack__squat__info"
            android:parentActivityName=".LowerBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.LowerBodyExercises" />
        </activity>
        <activity
            android:name=".Deadlift_Info"
            android:label="@string/title_activity_deadlift__info"
            android:parentActivityName=".LowerBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.LowerBodyExercises" />
        </activity>
        <activity
            android:name=".Squat_Info"
            android:label="@string/title_activity_squat__info"
            android:parentActivityName=".LowerBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.LowerBodyExercises" />
        </activity>
        <activity
            android:name=".Horizontal_Pull_Info"
            android:label="@string/title_activity_horizontal__pull__info"
            android:parentActivityName=".UpperBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.UpperBodyExercises" />
        </activity>
        <activity
            android:name=".Tricep_Info"
            android:label="@string/title_activity_tricep__info"
            android:parentActivityName=".UpperBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.UpperBodyExercises" />
        </activity>
        <activity
            android:name=".Bicep_Info"
            android:label="@string/title_activity_bicep__info"
            android:parentActivityName=".UpperBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.UpperBodyExercises" />
        </activity>
        <activity
            android:name=".Shoulder_Press_info"
            android:label="@string/title_activity_shoulder__press_info"
            android:parentActivityName=".UpperBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.UpperBodyExercises" />
        </activity>
        <activity
            android:name=".chest_press_info"
            android:label="@string/title_activity_chest_press_info"
            android:parentActivityName=".UpperBodyExercises"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.UpperBodyExercises" />

        </activity>
        <activity
            android:name=".LowerBodyExercises"
            android:label="@string/title_activity_lower_body_exercises"
            android:parentActivityName=".Strength_info"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.Strength_info" />
        </activity>
        <activity
            android:name=".UpperBodyExercises"
            android:label="@string/title_activity_upper_body_exercises"
            android:parentActivityName=".Strength_info"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.Strength_info" />
        </activity>
        <activity android:name=".RoutinePlanner" />
        <activity
            android:name=".Mobility_info"
            android:label="Mobility Exercises"
            android:parentActivityName=".User_Home_Page"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.Mobility_info" />
        </activity>
        <activity
            android:name=".Cardio_info"
            android:label="Cardio Exercises"
            android:parentActivityName=".User_Home_Page"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.schemer.Cardio_info" />
        </activity>
        <activity android:name=".Strength_info" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User_Home_Page" />
    </application>

</manifest>